.cart-items {
  margin: 0rem 0 0 1rem;
}

.cartitems-row {
  display: grid;
  grid-template-columns: 50% 15% 15% 15%;
  margin-top: 1rem;
  text-align: center;
}

.carting img {
  width: 10rem;
  height: 8rem;
  display: inline-block;
  margin-right: 7px;
  border-radius: 10px;
}

.cart-item-first-column {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.descript {
  position: relative;
  bottom: 20px;
}

.remove_btn {
  background-image: linear-gradient(150deg, #020333, #2ebf91);
  border: none;
  color: white;
  width: 3.8rem;
  height: 2rem;
  border-radius: 5px;
  margin-top: 10px;
}

.remove_btn:hover {
  cursor: pointer;
  background-image: linear-gradient(#020333, #2ebf91),
    linear-gradient(#020333, #2ebf91);
}
